.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.closeButton {
    position: fixed;    
    right: 100px;
    top: 50px;
}

.instruction {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 720px;
    height: 500px;
    margin: -243px 0 0 -350px;
    top: 50%;
    left: 50%;
    background-color: white; 
}

.header-bar {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.step {
    flex: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

.step-circle {
    /*flex: 2;*/
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 100%;
    background: black;
    margin: 0 10px;
}

.step-circle-chosen {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 17px;
    border-radius: 100%;
    background: white;
}

.step-label {
    flex: 2;
    color: white;
    font-family: 'Segoe UI';
    font-size: 15px;
    line-height: 20px;
}

.close-button {
    flex: 1;
    font-size: 25px;
    text-align: center;
    align-self: center;
    color: white;
}

.close-button:hover {
    color: grey;
}

.content {
    flex: 9;
    display: flex;
    flex-direction: row;
}

.text-instruction {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 80px 30px;
}

.text-instruction-title {
    flex: 2;
    font-family: 'Segoe UI';
    font-weight: 300;
    color: #333333;
    line-height: 27px;
    font-size: 20px;
    margin-bottom: 20px
}

.text-instruction-description {
    flex: 6;
    display: flex;
    overflow: hidden;
}

.paragraph-container {
    display: flex;
    flex: 40;
    flex-direction: column;
}

.paragraph {
    padding-bottom: 10px;
    transition: 0.5s all ease;
    font-weight: 400;
    font-family: 'Segoe UI';
    color: #333333;
    font-size: 15px;
    line-height: 20px;
}

.paragraph-selected {
    color: #000000;
}

.paragraph-scrollbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #cccdce;
}

.scrollbar-indicator {
    flex: 1;
    border-radius: 5px;
    transition: 0.5s all ease;
    background-color: #cccdce;
}

.scrollbar-indicator-selected {
    background-color: grey;
}

.picture-instruction {
    flex: 6;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 30px;
}

.picture-container {
    flex: 3;
    padding-top: 10px;
    display: flex;
    overflow: hidden;
}

.picture {
    transition: 0.5s all ease;
    top: 0;
    width: 300px;
    height: 214px;
    margin-bottom: 20px;
}

.picture-indicator-container {
    display: flex;
    flex: 1;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.picture-indicator {
    flex: 1;
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border: 4px solid white;
    border-radius: 100%;
    background: #cccdce;
    transition: 0.5s all ease;
}

.picture-indicator-selected {
    background-color: #2497f2;
}

.operation {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI';
    font-size: 15px;
    line-height: 20px;
    margin-top: 30px;
}

.operation-button-1 {
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid #cccdce;
    padding: 4px 30px;
    margin: 0 10px 0 0;
}

.operation-button-1:hover {
    background-color: #cccdce;
}

.operation-button-2 {
    display: inline-block;
    padding: 4px 30px;
    background-color: #0078d7;
    color: white;
}

.operation-button-2:hover {
    background-color: #0063b1;
}

.space-1 {
    flex: 1;
}

.space-2 {
    flex: 2;
}

.element-none {
    display: none;
}
