.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-around;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1.66);
    -ms-transform: scale(1);
    cursor: pointer; /* Add a pointer on hover */
    transition: all 500ms ease;
}

.row1 {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 50px;
    /*z-index:2;*/
}

.row2 {
    flex-grow: 12;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /*z-index:2;*/
}

.row3 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.instruction-container {
    color: white;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
    vertical-align: center;
    transform: translate(0%,0);
    transition: all 500ms ease;
    width: 100%;
    flex-grow: 10;
    z-index:1;
}

.instruction {
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
}

.instruction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.help-prev, .help-next {
    flex-grow: 1;
    align-self: center;
    font-size: 5em;
    color: white;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    z-index:2;
}

.help-prev:hover, .help-next:hover {
    text-decoration: none;
    color: grey;
}

.dot {
    margin: 0 5px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background: white;
    align-self: center;
}

.dot-selected {
    background: grey;
}

.element-hide {
    visibility: hidden;
}

.element-none {
    display: none;
}

.element-show {
    display: flex;
}
