.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 5; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.closeButton {
    position: fixed;    
    right: 100px;
    top: 50px;
}

.instruction {
    display: block;
    position: fixed;
    padding: 100px 50px 50px 50px;
    color: white;
    font-size: 20px;
    line-height: 2em;
    text-align: center;
}

.instruction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}