.help {
  float: right;
  line-height: 28px;
  margin-right: 40px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.help:hover {
    color: grey;
    transition: color 0.5s ease;
}

.help:visited {
    color: white;
}
