div.react-console-container {
  min-width: 100%;
	/*background: #4b4b4b;
}

div.react-console-prompt-box {
	color: #fdfdfd;
}

span.react-console-prompt-label {
	color: #4bfd2b;
}

div.react-console-focus span.react-console-cursor {
	background: #efefef;
	color: #2b2b2b;
}

div.react-console-nofocus span.react-console-cursor {
	color: #fdfdfd;
	outline: 0.1em solid #efefef;
}

@keyframes react-console-cursor-animation {
	0% {
		background: #efefef;
		color: #2b2b2b;
	}
	50% {
		background: #efefef;
		color: #2b2b2b;
	}
	51% {
		background: none;
		color: #fdfdfd;
	}
	100% {
		background: none;
		color: #fdfdfd;
	}
}

div.react-console-message {
	color: #ababab;*/
}

.hideConsole {
    display: none;
}

@media (min-width: 769px)
{
	.showConsole {
		flex: 1;
	}

	.hideConsole {
		flex: 0;
	}
}

@media (max-width: 768px)
{    
	.showConsole {
		height: 240px;
	}
}