.banner{
    width: 100%;
    background: #2b2b2b;
    padding: 8px 0;
}

.banner img{
    margin: 0 24px;
    vertical-align: middle;
}

.banner span{
    vertical-align: middle;
    font-size: 20px;
    color: #fdfdfd;
}