.toolbar{
    width: 100%;
    background: #bbbbbb;
    padding: 12px 0;
}

.toolbar .tool {
    max-width: 30px;
    margin: 0 24px 0 0;
    cursor: pointer;    
}

.toolbar .tool span {
    margin: 0 8px 0 0;
}

.toolbar .tool, .toolbar .tool a {
    color: #4b4b4b;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.connStrInputPanel {
    margin-right: 24px;
}

#connStrInput {
   width: 100%;
   padding: 0 4px;
}