.rightPanel {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
  flex-flow: column;
}

@media (min-width: 769px) {
  .leftPanel{
    float: left;
    max-width: 48%;
    min-width: 48%;
    margin: 0 24px;
  }

  .rightPanel{
    overflow: hidden;
    margin: 0 0px;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .leftPanel, .rightPanel{
    width: 98%;
    margin: 0 auto;
  }
}